.coupon-card {
  padding: 1rem 2rem;
  border-radius: 5px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.coupon-title {
  font-weight: 400;
  font-size: 1.5rem;
}

.coupon-input {
  border-radius: 20px;
  background-color: #f4f4f2;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  border: none;
  padding: 0.4rem 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.coupon-button {
  border: 1px solid black;
  border-radius: 30px;
  padding: 0.5rem 2rem;
}
