{% extends 'base.html' %} {% block content %} {% load static %}
<div class="container">
  <h2 class="">
    Kupon
  </h2>
  <div class="row mt-3">
    {% for kupon in kupon_all %}
    <div class="col-sm-4">
      <div class="coupon-card card">
        {% load humanize %}
        <div>
          <span class="coupon-title"
            ><span class="text-muted">Coupon</span> {{kupon.kode}}</span
          >
          <span class="text-muted">Expires {{kupon.expired|naturaltime}}</span>
          <span class="text-muted"
            >Minimum Purchase:
            <strong>{{kupon.min_harga|intcomma}}</strong></span
          >
          <span class="text-success font-weight-bold h3 mt-2">
            {{kupon.persen_diskon}}% off</span
          >
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% load static %} {% endblock %} {% block head %}
<title>Kupon | Tk.PePeW Online Shop</title>
<link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.min.css" />
<link rel="stylesheet" href="{% static 'kupon/styles.css' %}" />

{% endblock %} {% block leftsidecontent %}
<form action="{% url 'kupon:semua-kupon' %}">
  <div class="container d-flex flex-column align-items-center mt-3">
    <h3>Filter</h3>
    <span>Coupon Code</span>
    <input
      type="text"
      name="coupon"
      id="coupon-code-input"
      class="coupon-input"
      value="{{coupon_filter}}"
    />
    <span>Minimum Discount</span>
    <input
      class="coupon-input"
      type="number"
      name="min-discount"
      id="min-discount-input"
      step="0.01"
      value="{{min_discount}}"
    />
    <button type="submit" class="coupon-button">Filter</button>
  </div>
</form>
{% endblock %}
