{% extends 'base.html' %} {% block content %} {% load static %}
<div class="container">
  <div class="container w-50 d-flex flex-column">
    <div class="mt-4 mb-5 card text-center">
      <div class="card-body">
        <h2>Add {{name}}</h2>
        <form action="{% url 'shopadmin:add' name %}" method="POST">
          {% csrf_token %} {% load crispy_forms_tags %} {{form|crispy}}
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %} {% block head %}
<title>
  Admin | Tk.PePeW Online Shop
</title>

{% endblock %} {% block rightsidecontent %} {% include 'includes/recommended.html' %} {% endblock %}
