{% extends 'base.html' %} {% block content %} {% load static %}
{% load humanize %}
{% load crispy_forms_tags %}
<div class="d-flex flex-column px-4 py-3">
    {% if success %}
    <div class="alert alert-success" role="alert">
    {{action}} Saved!
    </div>
    {% endif %}
  <div class="d-flex flex-column" id="product">
    <div class="image-card">
      <img src="{{barang.gambar}}" class="product-image" />
    </div>
    <div class="product-description px-3 pt-3">
      <h1>{{barang.nama}}</h3>
        <div class="product-detail px-2">
      <h6 class="text-muted">{{barang.kategori.nama}} | {{barang.stok}} pcs</h4>
        <span class="product-price">Rp. {{barang.harga|intcomma}}</span>
      <p class="text-justify">{{barang.deskripsi}}</p>
      <button class="btn btn-primary btn-buy" data-toggle="modal" data-target="#modalBuy">Buy</button>
    </div>
    </div>
  </div>
  <div class="online-card mt-3" id="ulasan-card">
    <div class="d-flex justify-content-center flex-wrap" id="rating-header">
        <h3>ULASAN</h3>
        <div class="d-flex align-items-center px-2">
            <div id="rating-top" data-rateyo-read-only="true" data-rateyo-half-star="true" data-rateyo-rating="{{avg_rating}}"></div>({{num_rating}})
        </div>
    </div>
    <hr>
    <div>
        {% if ulasan_barang|length > 0 %}
            <div class="accordion" id="ulasan-accordion">
                {% for ulasan in ulasan_barang %}
                  <div class="card">
                    <div class="card-header" id="heading{{ulasan.id}}">
                    <div class="d-flex justify-content-between align-items-center" data-toggle="collapse" data-target="#collapse{{ulasan.id}}" aria-expanded="false" aria-controls="collapse{{ulasan.id}}">
                        <h4 class="mb-0">
                            {{ulasan.nama_pengulas}}
                        </h4>
                        <div class="d-flex justify-content-center align-items-center">
                            <div class="rating-ind d-none d-md-block" data-rateyo-read-only="true" data-rateyo-rating={{ulasan.bintang}}></div>
                        </div>
                    </div>
                    </div>

                    <div id="collapse{{ulasan.id}}" class="collapse
                    {% if forloop.counter == 1%}
                    show
                    {% endif %}
                    " aria-labelledby="heading{{ulasan.id}}" data-parent="#ulasan-accordion">
                    <div class="card-body">
                        {{ ulasan.pesan }}
                    </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        {% else %}
        <div class="text-center">
            Tidak ada ulasan!
        </div> 
        {% endif %}
        <div class="d-flex justify-content-center mt-3">
      <button class="btn btn-primary btn-buy" data-toggle="modal" data-target="#modalUlasan">Add Review</button>
        </div>
    </div>
  </div>
</div>
<div class="modal fade" id="modalBuy" tabindex="-1" role="dialog" aria-labelledby="modalBuy" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalBuyLabel">Buy {{barang.nama}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
                <form action="{% url 'barang:barang-buy' id=barang.id %}" method="POST">
      <div class="modal-body">
              {% csrf_token %}
              {{beli_form|crispy}} 
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Buy</button>
      </div>
      </form>
    </div>
  </div>
</div>
<div class="modal fade" id="modalUlasan" tabindex="-1" role="dialog" aria-labelledby="modalBuy" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalUlasanLabel">Add Review for {{barang.nama}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
                <form action="{% url 'barang:barang-review' id=barang.id %}" method="POST">
      <div class="modal-body">
              {% csrf_token %}
              {{ulasan_form|crispy}} 
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Add</button>
      </div>
      </form>
    </div>
  </div>
</div>
{% endblock %} {% block head %}
<title> {{barang.nama}} | Tk.PePeW Online Shop</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.css">
<link rel="stylesheet" href="{% static 'barang/styles.css' %}" />

{% endblock %}{% block leftsidecontent %}
{% endblock %} {% block rightsidecontent %} {% include 'includes/recommended.html' %} {% endblock %}

{% block js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.js"></script>
<script>
$(function () {
  $("#rating-top").rateYo({
    starWidth: "18px"
  });
$(".rating-ind").rateYo({
    starWidth: "18px"
  });
});
</script>
{% if success is not None and not success %}
{% if 'Transaction' == action %}
<script>
    $(function() {
        $("#modalBuy").modal()
    })
</script>
{% else %}
<script>
    $(function() {
        $("#modalUlasan").modal()
    })
</script>
{% endif %}
{% endif %}
{% endblock %}

