{% extends 'base.html' %} {% block content %} {% load static %}
<div class="container">
  <h2 class="text-center">
    Barang {% if filter is not None %} | "{{filter}}" {% endif %}
  </h2>
  <div class="row mt-3">
    {% if semua_barang|length == 0 %}
    <div class="text-center w-100">Tidak ada barang yang sesuai!</div>
    {%endif%} {% for product in semua_barang %}
    <div class="col-sm-3">
      <a href="{% url 'barang:barang-detail' id=product.id %}">
        <div class="online-card text-center all-product-card mb-4">
          <img src="{{product.gambar}}" class="all-product-image" />
          <div class="item-description w-100 px-3">
            <span class="text-muted">{{product.stok}} pcs</span>
            <h4>{{product.nama}}</h4>
          </div>
        </div>
      </a>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %} {% block head %}
<title>
  {% if filter is not None %} "{{filter}}" | {% endif %} Tk.PePeW Online Shop
</title>
<link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.min.css" />
<link rel="stylesheet" href="{% static 'barang/styles.css' %}" />

{% endblock %} {% block rightsidecontent %}
<div>{% include 'includes/recommended.html' %}</div>
{% endblock %}
