<div id="recommended-column">
  <h3 class="mb-3">Recommended</h3>
  <div class="d-flex flex-column">
    <div class="recommended-card">
      <a href="{% url 'barang:barang-detail' id=1 %}">
        <div class="product-card">
          <img
            src="https://media.swansonvitamins.com/images/items/master/SW1371.jpg"
            class="image-recommended"
          />
          <div class="item-description w-100 px-3">
            <span class="text-muted">37 pcs</span>
            <h4>Vitamin C</h4>
          </div>
        </div>
      </a>
    </div>
    <div class="recommended-card">
      <a href="{% url 'barang:barang-detail' id=2 %}">
        <div class="product-card">
          <img
            src="https://media.swansonvitamins.com/images/items/master/SW1371.jpg"
            class="image-recommended"
          />
          <div class="item-description w-100 px-3">
            <span class="text-muted">36 pcs</span>
            <h4>Vitamin D</h4>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
