.carousel-inner {
  border-radius: 20px;
}

.categ-title {
  letter-spacing: 0.2rem;
}

.product-card {
  border-radius: 15px;
  background-color: #fff6fa;
  padding: 1rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  /* background: #fff; */

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.category-link {
  font-weight: bold;
  color: #040404;
  letter-spacing: 0.1rem;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
}

.icon-star {
  margin-right: 0.2rem;
}

#side-category {
  margin-top: 7.5rem;
}

.gambar-produk {
  height: 6rem;
  max-width: 80%;
}
