.image-card {
  background-color: #fff6fa;
  padding: 1.5rem 1.5rem;
  border-radius: 20px;
}

.product-image {
  height: 20rem;
  max-width: 100%;
}

.product-price {
  font-size: 1.2rem;
  font-weight: bold;
}

.btn-buy {
  padding: 0.3rem 1.5rem;
}

.card-header:hover {
  cursor: pointer;
}

@media (min-width: 768px) {
  #product {
    flex-direction: row !important;
  }
  .product-image {
    max-width: 25rem;
  }
  #rating-header {
    justify-content: space-between !important;
  }
}
