body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#main-wrapper {
  flex-grow: 1;
  display: flex;
}

main {
  flex-grow: 1;
  overflow-x: hidden;
}

@media (min-width: 992px) {
  main {
    padding: 0 2rem 1rem 0;
  }
  .navbar {
    padding-left: 3rem !important;
    padding-right: 3rem !important;
  }
}

/* Navbar */
.searchbar {
  background-color: #f4f4f2;
  border-radius: 10px;
  width: 38vw !important;
  border: none;
}

.avatar {
  height: 3rem;
}

.logo {
  height: 4rem;
}

.user-text {
  font-weight: 500;
}

/* sidebar */
#sidebar {
  background-color: #f6f6f6;
  border-radius: 15px;
}

.sidelink {
  color: #3e3e3e;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1.4rem;
}

.recommended-card {
  background-color: #fff6fa;
  text-align: center;
  border-radius: 20px;
  margin-bottom: 2rem;
}

#recommended-column {
  padding: 1rem 2rem;
}

.image-recommended {
  height: 6rem;
}

.product-card {
  padding-top: 1rem;
}

.online-card {
  background-color: #fff6fa;
  border-radius: 20px;
  padding: 1rem 1.5rem;
}

#search-icon {
  position: absolute;
  top: 0;
  right: 5%;
  height: 100%;
}

#search-icon > svg {
  height: 1.6rem;
}

.all-product-image {
  height: 5rem;
}
